html{
    background-color: transparent;
    overflow: hidden;
    body{
        background-color: transparent;
        #app{
            background-color: transparent;
            .besoins{
                position: absolute;
                bottom: 20%;
                left: 1.8%;
            }
            
            .fullscreen{
                width: 100%;
                max-width: 100%;
                padding: 100px 30px;
            }
        }
    }
}

h1{
    font-size: 500px;
    color: green;
}

.v-progress-circular{
    margin: 0.2vw;
    font-size: 0.7vw;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 100px;
}

