html {
  background-color: transparent;
  overflow: hidden;
  body {
    background-color: transparent;
    #app {
      background-color: transparent;
      .besoins {
        position: absolute;
        bottom: 20%;
        left: 1.8%;
      }

      .speedomeeter{
        position: absolute;
        bottom: 8%;
        left: 17%;
      }

      .mini-speedomeeter{
        position: absolute;
        bottom: 3.5%;
        left: 12%;
        background-color: rgba(0, 0, 0, 0.70);
        color: white;
        padding: 5px
      }

      .fullscreen {
        width: 100%;
        max-width: 100%;
        padding: 100px 30px;
      }
    }
  }
}

.v-progress-circular {
  margin: 0.2vw;
  font-size: 0.7vw;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 100px;
}

#notifplatypus {

  .evenement{
    width: 500px;
    height: 281.5px;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .noty_container{
      position: relative;
      top:-10px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.30);

      .noty_title{
        font-size: 35px;
        text-align: left;
        margin-left: 20px;
        padding-top: 15px;
      }
      .noty_body{
        font-size: 27px;
        word-wrap: normal;
        margin: 12px 30px 5px 40px;
      }
    }
  }

  .noty_body {
    font-size: 0.9vw;
    font-family: "Poppins";
    padding: 15px 30px;
  }

  .noty_logo {
    text-align: center;
    width: 15%;
    margin: auto;
    padding-top: 1%;
    float: left;
    img {
      width: 100%;
      height: auto;
      max-height: 90%;
      max-width: 90%;
    }
  }
  .noty_title {
    font-family: "Poppins";
    font-size: 0.9vw;
    font-weight: bolder;
    margin-top: 10px;
  }
}

#noty_layout__topRight,
#noty_layout__topCenter,
#noty_layout__topLeft {
  margin-top: 100px;
}

.noty_layout {
  width: 30% !important;
  scale: 0.80;
  transform-origin: top right;
  .noty_type__alert {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .noty_type__error,
  .noty_type__danger {
    background-color: rgba(183, 28, 28, 0.50);
    color: white;
  }
  .noty_type__success {
    background-color: rgba(5, 63, 8, 0.50);
    color: white;
  }
  .noty_type__warning {
    background-color: rgb(191, 54, 12);
    color: white;
  }
}

.hide{
  display: none;
}