/* Need Help? Join my discord @ discord.gg/yWddFpQ */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--fadeTo-Color);
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
    filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

.logo {
    width: 320px;
    width: 320px;
}

.loadbar {
    border-radius: 25px;
    width: 98%;
    background-color: var(--loadbar-color);
    height: var(--loadbar-height);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2px;
    margin-right: 3px;

    margin-top: 10px;
    margin-bottom: 5px;

    overflow: hidden;

    position: relative;
  
    text-align: center;
    display: block;
}

.yeet {
    width: 10%;
    border-radius: 25px;
    background-color: var(--loadbar-progress-color);
    height: var(--loadbar-height);

    position: absolute;
    left: 10%;
}

#container {
    text-shadow: 2px 2px 5px #424242;
    position: absolute;
    color: rgb(241, 235, 235);
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
    text-align: center;
}

#bg { 
  -webkit-background-size: cover;
  background-size: cover;
   }

#link {
    color: var(--footer-font-color);
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: var(--footer-font-size);
    width: 100%;
    text-align: center;
    padding-bottom: 29px;
}

#bottom_nav {
    width: 90%;
    vertical-align: text-bottom;
    position: fixed;
    bottom:0px;
    text-align: center;
    z-index:9999;
}

.loading-logo{
    width: 50%;
    position: absolute;
    top:0;
    left:0;
    height:100%;
}

.info{
    width: 50%;
    position: absolute;
    top:0;
    left:50%;
    height:100%;
}

.info .password{
    padding: 5%;
    margin: 5%;
    font-size: 18px;
}

.info .password {
    font-weight: bolder;
    color: white;
    background-color: #42424285;
}

/* Just to play with animations */
.copiedtext {
position: absolute;
left: 0; top: 0; right: 0;
text-align: center;
opacity: 0;
transform: translateY(-1em);
color: white;
transition: all .500s;

}
.copied .copiedtext {
    opacity: 1;
    transform: translateY(-2em);
}

/* #to-copy{
    display: none;
} */


button {
  position: relative;
  padding: 8px 20px;
  border: 0;
  font-size: 0.835em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #FFF;
  background: #e69f07;
  transition: background .275s;
}
button:hover,
button:focus {
  background: #74861A;
}

textarea{
    opacity: 0;
}

h3{
    font-family: 'Lobster', cursive;
    font-size : 50px;
    font-weight: bolder;
}

h4{
    font-family: 'Lobster', cursive;
    font-size : 30px;
    color: white;
    font-weight: bolder;
    margin-top: -15px !important;
    margin-bottom: -10px !important;
}

.progress-container{
    padding: 20px;
}

.collapsible-header {
    padding: 0px !important;
}

.collapsible-header p{
    padding: 0px;
}

.collapsible-header img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.collapsible-icon{
    position: absolute;
    right: 50px;
    margin-top: 5px;
}

.collapsible-icon img{
    width: 30px;
    height: 30px;
}

.collapsible-title{
    font-weight: bolder;
    font-size: 18px;
    margin-right: 10px;
}
.collapsible-estimation{
    font-weight: lighter;
    font-size: 18px;
    margin-left: 10px;
}

.legend tr td{
    text-align: left;
    color: white;
}

.legend-logo{
    width: 25px;
    text-align: center !important;
}
.legend-text{
    padding-top: 18px;
}

.legend tr td img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

.nb{
    padding: 0 !important;
    color: white;
}