@font-face {
  font-family: 'Circular';
  src: url('fonts/Circular-Bold.woff2') format('woff2'),
      url('fonts/Circular-Bold.woff') format('woff'),
      url('fonts/Circular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('fonts/Circular-Book.woff2') format('woff2'),
      url('fonts/Circular-Book.woff') format('woff'),
      url('fonts/Circular-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: transparent;
  overflow: hidden;
  body {
    background-color: transparent;
    #app {
      background-color: transparent;
      .v-card {
        border-radius: 30px;
        background-color: #f7f7f780;
        &.theme--dark {
          background-color: rgba(46, 46, 46, 0.904);
        }
        .menu_title {
          font-size: 1.9vw;
          height: 100%;
          width: 100%;
          p {
            padding-top: 15px;
            color: white;
          }
        }
        .menu_info{
          position: absolute;
          right: 10px;
          bottom: -10px;
          color: white;
          font-size: 0.8vw;
        }
        .v-card__title {
          padding-bottom: 10px;
        }
        .v-list {
          padding: 20px !important;
          background: transparent;
          .v-subheader {
            font-size: 0.8vw;
            color: black;
            font-style: italic;
            &.theme--dark {
              color: white;
            }
          }
          .v-list__tile{
            height: 4.7vh;
            font-size: 0.8vw;
            font-family: "Poppins";
          }
          .v-list__tile__sub-title{
            font-size: 0.7vw;
            font-family: "Poppins";
          }
        }
      }
      
      .commands{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        top: 10vh;
        left: 30px;
        width: 350px;
        height: auto;
        transition: max-height 1s ease-out;
        transition: height 1s ease-out;
        border-radius: 30px;
        padding: 15px;
        font-family: 'Circular';
        .command{
          h3{
            font-family: 'Circular';
            font-weight: bold;

          }
          .key {
            font-family: 'Circular';
            font-weight: bold;
            margin-right: 10px;
          }
          .text {
            margin-left: 10px;
          }
          .v-divider{
            border-color: rgba(255, 255, 255, 0.2);
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .commandTitle{
            font-family: 'Circular';
            font-weight: bolder;
            margin: 5px;
          }
        }
        .infoHide{
          font-size: small;
          font-family: 'Circular';
          font-weight: bold;
          margin-top: 10px;
          padding: 5px;
        }
      }
    }
  }
}

.itemPicture{
  height: 30px;
  width: 30px;
}

.menu_container {
  padding-top: 10vh;
  max-height: 70vh;
  font-size: 45px;
  max-width: 40%!important;
  .v-card {
    max-height: 60vh;
    .v-list {
      max-height: 50vh;
      overflow-y: hidden;
    }
  }
}

.v-list--dense {
  .v-list__tile {
    .v-icon {
      font-size: 0.75em !important;
    }
  }
}


.vehicle_information{
  position: absolute;
  right: 10%;
  top: 30%;
}