@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Poppins";
}
ol, ul {
	list-style: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mainBox{
    position: relative;
    width: 90%;
    min-height: 90%;
    background: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background: #00acce;
    color: white;
    text-transform: uppercase;
}
header>*{
    margin: 10px;
}
.answer{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    background: lightgray;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 300ms;
    color: #555;
}
.answer:checked{
    background: #555;
    color: white;
}
.a::after{
    content: "A";
}
.b::after{
    content: "B";
}
.c::after{
    content: "C";
}
.d::after{
    content: "D";
}
.logo{
    width: 100px;
    height: 100px;
    background-image: url(../images/logo-venato.png );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #164883;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}
.btn-submit{
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    margin: 10px;
}



.questions>*{
    margin: 20px;
}
.imageCode{
    position: relative;
    margin: 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 85vmin;
    height: 40vmin;
}
label{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
}
ul{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


